
:root {
    --background-color-1: #282828;
    --background-color-2: #EEEEEE;
    --background-color-3: #FFFFFF;
    --foreground-color: #222831;
    --fg-color-inv: #EEEEEE;
}

[data-theme="dark"] {
    --background-color-2: #222831;
    --foreground-color: #EEEEEE;
}